:root {
  --color-primary: #000000;
  --color-secondary: white;
  --color-button: #dc6445;
  --color-footer: #264c4d;
  --color-section: #fbefec;
}
body {
  margin: 0;
  padding: 0;
}
p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
.logo-img img {
  width: 40px;
  height: auto;
  max-width: 100%;
  margin-right: 5px;
  margin-left: 200px;
}
.logo p {
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
}

.logo a {
  display: flex;
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-primary);
  margin-left: auto;
  margin-right: 300px;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero-content {
  max-width: 480px;
  padding: 90px;
  margin-left: auto;
}

.hero h1 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 67px;
}

.hero-content p {
  padding-right: 51px;
}

.hero button {
  background-color: var(--color-button);
  color: var(--color-secondary);
  border: none;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  padding: 14px 32px;
  margin-top: 10px;
  line-height: 24px;
  cursor: pointer;
}

.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-section);
  max-width: 1920px;
  margin-top: auto;
  overflow: hidden;
}

.about-us img {
  width: 450px;
  height: 100%;
  margin-left: 260px;
}

.about-us-content {
  max-width: 440px;
  margin: auto;
}

.about-us p {
  font-family: Lato;
}

.about-us h2 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 54px;
  line-height: 65px;
}

.learn-more {
  border: none;
  background-color: transparent;
  color: var(--color-button);
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.arrow {
  width: 35px;
  transform: scaleX(1.5);
  display: inline-block;
}
